@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #B29FBD;
}

.pagina {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

}

.topo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  color: white;
  margin-bottom: 5%;
}

input {
  align-self: center;
  width:70%;
  background-color: #715E7D;
  border-radius: 25px;
  border-block-end: 2px;
  border-bottom-width: 2px;
  background-image: url(../Assets/lupa.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 3%;
  background-size: 15%;
  padding-left: 10%;
  background-size: auto;
}


h1 {
  margin-left: 3%;
  
}


.tabela {
  display: flex;
  flex-direction: column;
  background-color: #715E7D;
  justify-content: center;
  align-self: center;
  width: 80%;
  border-radius: 6%;
  height: max-content;
  margin-bottom: 11%;

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: white;
  }

  img {
    width: 3%;
    height: 3%;
  }
}

.comecoTabela {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #CC9CE7;
  justify-content: space-between;
  border-radius:3% 3% 3% 3% / 50% 50% 50% 50% ;

  padding: 5px;
  margin: 0;
}

.comecoTabela p {
  margin-left: 2%;
}

.comecoTabela img {
  display: flex;
  align-self: center;
  padding: 5px;
}

.corpoTabela {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
}

.linhaImpar {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #715E7D;
  justify-content: space-between;
  height: 5%;
  padding-left: 2%;
  padding-right: 2%;
}




.linhaPar {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #7F5C92;
  justify-content: space-between;
  height: 5%;
  padding-left: 2%;
  padding-right: 2%;
}

.icones {
  display: flex;
}

.icones img {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.buscar {
  display: flex;
  align-items: center;
  width: 35%;
  height: 100px;
}

.linhaFinal{
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;

}