@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
}

.corpo{
    display: flex;
    flex-direction: column;
    margin: none;
    background-color: #5A4168;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    color: #ffffff;
}
.corpo h1 {
    margin-left: 3%;
}

.cadastro {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    background-color: #CC9CE7;
    width: 90%;
    border-radius: 0px 300px 300px 0px;
    padding-left: 3%;
}

.coluna {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 10%;
    margin-left: 20%;
}

.linha{
    width: 70%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.linha p {
    padding-left: 3%;
    color: #311C3D;
    margin-top: 0;
    margin-bottom: 2%;
}

.botaocadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    margin-right: 20%;
    padding: 30px 20px;
    border: solid 1px #000000;
    border-radius: 100%;
    color: #ffffff;
    & button {
        width: 90%;
    }
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #311C3D ;
    width: 25%;
    height: 30%;
    font-size: 15px;
    letter-spacing: 2px;
    cursor: pointer;
    border: none;
    border-radius: 190px 190px 190px 190px;
    padding: 10px 20px;
    color: #ffffff;
}

button:hover {
    background-color: #442855;
}

.iptCampo input{
    background-color: #ffffff;
    border: none;
    font-size: 100%;
    width: 100%;
    padding: 2%;
    margin-bottom: 1%;
    border-radius: 190px 190px 190px 190px;
    box-shadow: #311c3d8e 1px 3px 5px;
    outline: none;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    display: none;
}

.divmsg {
    display: flex;
    justify-content: center;
    font-size: 90%;
    margin: 0;
    color: red;
    font-weight: bold;
}

.pop {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    align-self: center;
    justify-self: center;
    width: 150%;
    height: 200%;
    background-color: rgb(0, 0, 0, 0.8);
    z-index: 1000;

}

.up {

    display: none;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 20%;
    background-color: #715E7D;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1000;
    top: 35%
}

.up button {
    border-radius: 300px;
    border: none;
    background-color: #311C3D;
    color: #B29FBD;
    padding: 10px;
    margin-bottom: 5%;

}
.inputs {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 60%;
}

.completo {
    display: flex;
    flex-direction: row;
}

.completo img{
    width: 40%;
}