@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: #5A4168;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #311C3D;
  overflow-x: hidden;
}

h2 {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.pagina {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2% 3%;
}

.cliente h1 {
  color: white;
}

.topo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 3%;
  width: 100%;
  aspect-ratio: 9/1;

  & .conjunto.detalhado {
    & .colunaEsq {
      background: none;

      & .kpi {
        border-radius: 50px 20px;
        aspect-ratio: 2/1;
      }

      & .legenda {
        position: relative;
        top: -8%;
        width: 80%;
        justify-content: center;
        align-items: center;

        & h4 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: white;
          text-align: start;

          & span {
            display: flex;
            align-items: center;
          }
        }
      }
    }

    & .colunaDir {
      background: none;

      & .header {
        justify-content: space-between;

        & .descricaoKpi {
          width: 30%;
          color: #311C3D;
          background-color: #B29FBD;
          flex-direction: column;
          padding-right: 0;
          aspect-ratio: 6/1;
          justify-content: center;
          align-self: flex-start;

          & h2 {
            font-weight: bold;
          }
        }

        & .titulo {
          margin-right: 7%;
          color: white;
        }
      }

      & .grafico {
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 93%;
        height: 80%;
        background-color: #867391;
        border-radius: 50px;
        aspect-ratio: 3/1;

        & h4 {
          text-align: center;
          color: white;
        }

        & .campoGrafico {
          height: 85%;
        }
      }

      & h4 {
        align-self: center;
        width: 80%;
        color: white;
        margin-top: 1%;
      }
    }
  }
}

.divisaSetor {
  display: flex;
  flex-direction: column;
  width: 98%;
  color: white;
  grid-column: 1 / -1;
  padding-left: 0;
}

.linhaDivisa {
  width: 100%;
  aspect-ratio: 400/1;
  background: radial-gradient(circle,
      white,
      transparent 99%);
}

h1 {
  margin: 0;
}

h4 {
  font-weight: 400;
  margin: 0;
}

.kpi {
  background-color: #CC9CE7;
  border-radius: 50px 20px;
  height: 100%;
  padding: 0 1%;
  aspect-ratio: 1.2/1;
  box-shadow: #311C3D 0px 5px 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: relative;
  z-index: 99;

  & div {
    font-weight: bold;
  }
}

.kpisGrafico {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.conjunto {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 3% 0;
  padding-left: 10%;
}

.colunaEsq {
  width: 35%;
  padding-right: 1%;
  border-radius: 50px 0 0 20px;

  & .kpi {
    height: auto;
    width: 100%;
    padding: 0;
  }
}

.colunaDir {
  width: 60%;
}

h3 {
  width: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 5%;
}

.conjunto.detalhado {
  grid-column: 1 / -1;
  padding-left: 0;

  & .colunaEsq {
    background-color: #867391;
    width: 17.5%;
    border-radius: 20px 0 0 50px;
    display: flex;
    flex-direction: column;
    align-items: end;

    & .kpi {
      border-radius: 20px 50px;
    }

    .kpiBottom {
      display: flex;
      color: white;
      flex-direction: column;
      align-items: center;

      & .legendaSituacao {
        display: flex;
        flex-direction: column;

        & h4 {
          display: flex;
          font-weight: 400;

          & div {
            margin-left: 5%;
            color: white;
          }
        }

        & h4:first-child {
          margin-top: 5%;
          font-weight: bold;
          justify-content: center;
        }

        & h4:nth-child(2) {
          margin-bottom: 5%;
          justify-content: center;
        }
      }
    }

    .legenda {
      display: flex;
      position: relative;
      top: -8%;
      width: 90%;

      & span {
        gap: 2%;
        display: flex;
        align-items: center;
      }
    }
  }

  & .colunaDir {
    background-color: #867391;
    width: 70%;
    border-radius: 0 50px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .header .descricaoKpi {
      width: 40%;
      padding-right: 5%;
      aspect-ratio: 7/1;
    }

    .campoGrafico {
      display: flex;
    }

    & .botaoExpandir {
      position: static;
      z-index: 0;
      display: flex;
      padding: 0;
      margin-bottom: 2%;
      width: 95%;
      background-color: transparent;
      color: #311C3D;
      border-radius: 0;
      box-shadow: none;
      justify-content: end;
    }
  }
}

.kpiBottom {
  display: none;
  position: relative;
  top: -10%;
  background-color: #7F5C92;
  width: 92%;
  padding: 20% 0 8% 0;
  border-radius: 0 0 10px 20px;
  justify-content: space-between;
  box-shadow: 0px 3px 7px #15151b;
}

.legenda {
  width: 50%;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
  color: white;
}

.nivel {
  width: 100%;
  margin-top: 5%;
  aspect-ratio: 9/1;
  background-color: #A86EC8;
}

.atual {
  background-color: #D181FF;
}

.header {
  display: flex;
  align-items: center;
}

.descricaoKpi {
  display: flex;
  align-items: center;
  position: relative;
  left: -10%;
  width: 60%;
  z-index: 1;
  aspect-ratio: 5/1;
  border-radius: 0 8% 8% 0 / 0 50% 50% 0;
  padding: 0 5% 0 10%;
  background-color: #7F5C92;
  box-shadow: 0px 3px 7px #15151b;
  color: white;

  & h2 {
    font-weight: 400;
  }
}

.listaPrioridade {
  width: 100%;
  color: #ffffff;
}

.identificacaoLista {
  display: flex;
  justify-content: space-evenly;
}

.linha {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 30px;
}

.coluna {
  width: 50%;
  display: flex;
  justify-content: center;
}

.par {
  background-color: #715E7D;
}

.situacao {
  background-color: yellow;
  aspect-ratio: 1/1;
  height: 20px;
  border-radius: 50%;
}

.critico {
  background-color: red;
}

.filtroData {
  width: 75%;
  display: none;
  flex-direction: column;
  margin-left: 10%;
}

.inputFiltro {
  display: flex;
  background-color: #7F5C92;
  width: 85%;
  justify-content: space-around;
  border-radius: 2.5% 2.5% 2.5% 2.5% / 50% 50% 50% 50%;
  box-shadow: 0px 3px 7px #15151b;

  & input {
    background: none;
    border: none;
    display: flex;
    align-items: start;
    text-align: start;
    width: 30%;
    font-family: 'Roboto', sans-serif;
  }

  & input:focus {
    background: none;
    border: none;
    outline: none;
  }
}

.campoGrafico {
  background-color: #B29FBD;
  width: 95%;
  height: 65%;
  border-radius: 15px;
  justify-self: center;
  display: none;
  justify-content: center;
  aspect-ratio: 3/1;
}

.botaoExpandir {
  position: relative;
  left: -5%;
  display: flex;
  padding: 5% 10%;
  width: fit-content;
  background-color: #B29FBD;
  color: #311C3D;
  z-index: 0;
  border-radius: 0 0 30% 0 / 0 0 100% 0;
}

.divisao {
  border: white 1px solid;
}

.ideal {
  background-color: lime;
}

.conteudoBotao {
  cursor: pointer;
}