@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Serif", serif;
  margin: 0;
  padding: 0;
}


.corpo {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: url(../Assets/dispenser.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 2.12/1;
}

.container img {
  height: 50%;
}

.titulo {
  margin-left: 50px;
  top: 120px;
  left: 80px;
}

.titulo h1 {
  font-size: 50px;
  font-weight: 400;
  color: #000000;
  text-shadow: 1px 1px 10px black solid;
}

.titulo span {
  font-size: 29px;
  font-weight: 300;
  color: #000000;
}

.texto1 {
  background-color: #eeeeee84;
  padding: 10px 10px;
  padding-right: 3% ;
  border-top-right-radius: 300px;
  border-bottom-right-radius: 300px;
  width: 35%;
  height: 19%;
  font-weight: 300;
  margin-left: 0px;
  display: flex;
  align-items: center;
}

.texto2 {
  align-self: flex-end;
  background-color: #eeeeee84;
  padding: 10px 5px;
  padding-left: 3%;
  border-bottom-left-radius: 300px;
  border-top-left-radius: 300px;
  width:35%;
  height: 19%;
  font-weight: 300;
  margin-left: 0px;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
}

.texto1 p {
  margin-left: 7%;
  margin-right: 2%;
}
.texto2 p {
  margin-left: 2%;
  margin-right: 3.9%;
  
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #311C3D;
  color: white;
  padding: 15px;
  width: 320px;
  align-self: flex-end;
  margin-bottom: 3%;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: #4a2c5f;
}

.selecionado {
  border-bottom: 2px solid white;
}

body a .btn img {
  height: 50px;
  width: 50px;
}

.corpo2 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.corpo3{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #5A4168;
  background-size: cover;
  background-repeat: no-repeat;
  height: 190px;
}
.container4{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  background-color: #5A4168;
  background-size: cover;
  background-repeat: no-repeat;
  height: 190px;  
}
.container5{
    display: flex;
  padding: 0px 45px;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  background-color: #5A4168;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  gap: 40px;
}
.sobreNos {
  display: flex;
  background-color: #ffffff;
  padding: 15px 20px 15px 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  max-width: 650px;
  width: 100%;
  height: 80px;
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 300;
  align-items: center;
  color: #311C3D;
}
.comoFunciona{
  display: flex;
  background-color: #ffffff;
  padding: 15px 20px 15px 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  max-width: 650px;
  width: 100%;
  height: 80px;
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 300;
  align-items: center;
  color: #311C3D;
}

.cards2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  background-color: #FCF7F0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  
  align-self: center;
  gap: 25px;
  margin-bottom: 40px;
  flex-grow: 1;
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  background-color: #FCF7F0;
  border-radius: 25px;
  align-items: center;
  width: auto;
  gap: 25px;
  margin-bottom: 40px;
  flex-grow: 1;
}
.cards img {
  width: 100%;
  height: auto;
}

.container3 {
  display: flex;
  padding: 0px 45px;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  background-color: #5A4168;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  gap: 40px;
}
.imgCard{
  width: 90%;
  align-self: center;
}
.titulosCards {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Roboto";
  flex: 1;
  width: 15%;
  max-width: 29%;
  margin-bottom: 5%;

  & p {
    margin-left: 6%;
    margin-right: 6%;
    
  }

  & h1 {
    font-size: 50px;
    color: #FCF7F0;
  }
}
.titulosCards2{
    display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Roboto";
  flex: 1;
  width: 15%;
  max-width: 29%;
  margin-bottom: 5%;
  margin-top: 5%;

  & p {
    margin-left: 6%;
    margin-right: 6%;
    
  }

  & h1 {
    font-size: 50px;
    color: #FCF7F0;
  }
}

.cards p {
  height: 50%;
}
