body {
    background-color: #B29FBD;
    margin: 0;
    padding: 0;

}

.selecao {
    width: 80%;
    aspect-ratio: 4 / 1;
    background-color: #CC9CE7;
    border-radius: 0 30% 30% 0 / 0 100% 100% 0;
    box-shadow: .1em .1em rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    justify-content: center;
    overflow: hidden;

    & button {
        background: none;
        border: none;

    }
}

.pagina {
    display: flex;
    margin: 0;
    width: 100%;
    flex-direction: column;
    aspect-ratio: 3 / 2;

    h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 2.5rem;
        font-weight: 400;
        
    }
}

.Topo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2%;
    align-self: flex-start;

    h1 {
        margin: 3% 2%;
        color: white;
        font-weight: bold;

    }
}

input {
    margin: 0px 3%;
    width: 30%;
    height: 15%;
    align-self: center;
    background-color: #715E7D;
    border-radius: 25px;
    border-color: #B29FBD;
    border-block-end: 2px;
    border-bottom-width: 2px;
    padding: 1%;
    background-image: url(../Assets/lupa.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 3%;
    background-size: 5%;
    padding-left: 5%;
    border: none;
}

.Tabela {
    display: flex;
    flex-direction: column;
    background-color: #715E7D;
    justify-content: center;
    align-self: center;
    width: 70%;
    height: max-content;
    border-radius: 30px;
    max-width: 100%;

    p{
          font-family: 'Roboto', sans-serif;
          font-size: 1rem;
          color: white;
    }
}

.topoTabela {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #CC9CE7;
    justify-content: space-between;
    border-radius: 17px;
    padding: 1% 2%;
    margin: 0;
}
#adicionarDispenser{
    display: flex;
    align-items: center;
    width: 20%;
        img{
            width: 10%;
            height: 10%;
            padding: 1%;
        }
}

.botoes{
    margin: 0;
    width: 15%;
}
button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 45%;
    img {
        width: 50%;
        height: 50%;
    }
}
#adicionar{
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 24%;
}
#add{
    padding-left: 65%;
    margin: 0;
    width: 25%;
    height: 25%;
    
}

.corpoTabela {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;


}

.linhaA {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #715E7D;
    justify-content: space-between;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
}

.linhaB {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #7F5C92;
    border-radius: 5px;
    justify-content: space-between;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;

}

.final {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.corpo {

    margin: 0;
    flex-direction: row;
    width: 100%;
    height: 100%;
}