@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.icones {
  display: flex;
}

.icones img {
  width: 22px;
  height: 22px;
  cursor: pointer;
}




/* cliente ^^^^ */
/* ---------------------------------------------------- */
/* banheiro vvvv */
body {
    background-color: #5A4168;
    margin: 0;
    padding: 0;

}



.pagina {
    display: flex;
    margin: 0;
    width: 100%;
    flex-direction: column;
    aspect-ratio: 3 / 2;

    h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 2.5rem;
        font-weight: 400;
        
    }
}

.Topo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2%;
    align-self: flex-start;

    h1 {
        margin: 3% 2%;
        color: white;
        font-weight: bold;

    }
}

.Tabela {
    display: flex;
    flex-direction: column;
    background-color: #715E7D;
    justify-content: center;
    align-self: center;
    width: 80%;
    height: max-content;
    border-radius: 30px;
    max-width: 100%;
    margin-bottom: 11%;

    p{
          font-family: 'Roboto', sans-serif;
          font-size: 1rem;
          color: white;
    }
      img {
    width: 25px;
    height: 25px;
  }
}



.Titulos {
    margin-left: 2%;
}
.TituloPontaEsq {
    margin-right: 2%;
}
.TituloPontaDir {
    padding-left: 50%;
}

.topoTabela img {
  display: flex;
  align-self: center;

}

.topoTabela {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #CC9CE7;
    justify-content: space-between;
    border-radius: 30px;
    padding: 1% 2%;
    margin: 0;
}

.botoes{

    display: flex;
}
button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin: 0;
    padding: 0;
    img {
        width: 100%;
        height: 60%;
    }
}
#adicionar{
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 15%;
    padding-left: 10%;
    
}
#add{

    padding-left: 15%;
    margin: 0;
    width: 80%;
    height: 80%;
    
}


.corpoTabela {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    max-width: 100%;


}

.linhaA {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #715E7D;
    justify-content: space-between;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
}

.linhaB {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #7F5C92;
    border-radius: 5px;
    justify-content: space-between;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;

}

.final {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.corpo {

    margin: 0;
    flex-direction: row;
    width: 100%;
    height: 100%;
}