@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    height: 100%;
}
body {
    height: 80%;
    background-color: #5A4168;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 0;
    margin: 0;
    background-image: url(../Assets/papel-higienico.png);
    background-repeat: no-repeat;
    background-position: right;
}

h1 {
    color: white;
    margin-top: 0;
    margin-bottom: 50px;
}

input {
    border: none;
    background-color: #715E7D;
    height: 30px;
    width: 100%;
    border-radius: 300px;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: #311C3D 2px 5px 10px;
    margin-bottom: 0;
}

input:focus {
  outline: none;
}

.senha button {
    cursor: pointer;
    background-color: #715E7D;
    border-radius: 300px;
    border: none;
    height: 30px;
    width: 35%;
    align-self: flex-end;
    box-shadow: #311C3D 2px 5px 10px;
    color: #311C3D;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.dados {
    width: 60%;
    padding: 2.5%;
}

.senha {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    padding: 0;
}

.restricao {
    margin-top: 0;
    padding: 0;
}

.pop {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 150%;
    background-color: rgb(0, 0, 0, 0.8);
}

.up {
    display: none;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 20%;
    background-color: #715E7D;
    border-radius: 30px;
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
}
.up button {
    border-radius: 300px;
    border: none;
    background-color: #311C3D;
    color: #B29FBD;
    padding: 10px;
    margin-bottom: 5%;
}