html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #5A4168;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


.pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.corpo {
    display: flex;
    margin: 0;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.menuLateral {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: space-between;
    align-items: center;
    background-color: #715E7D;
    width: 20%;
    height: 100%;


}

.menuLateral h1 {
    color: #FFFF;
    font-size: 35px;

}

.buttonSuporte {
    display: flex;
    color: white;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    padding: 10% 6%;
    width: 50%;
    margin: 5%;
    border-radius: 30px;
    font-weight: 400;
    background-color: #CC9CE7;
    letter-spacing: 5px;
    opacity: 85%;
}

.buttonLogout {
    display: flex;
    color: white;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    padding: 10% 6%;
    width: 50%;
    margin: 5%;
    border-radius: 30px;
    font-weight: 400;
    background-color: #311C3D;
    letter-spacing: 5px;
    opacity: 85%;
}

.botoes {
    display: flex;
    justify-content: space;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
    width: 100%;
    height: 100%;
    gap: 50%;
}

/* .buttonBob {
    display: flex;
    width: 5%;
    height: 15%;
    padding: 2% 1%;
    border-radius: 100%;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    background-color: #CC9CE7;
    margin: 2%;
} */

.chat {
    display: flex;
    width: 95%;
    align-self: center;
    justify-self: flex-end;
    flex-direction: row;
    border-radius: 15px;
    background-color: #CC9CE7;
    opacity: 50%;
}

.chat img {
    width: 100%;
    height: 100%;
}

.inputChat {
    display: flex;
    width: 85%;
    border-radius: 15px;
    padding: 1% 3%;
    background-color: #CC9CE7;
    border: none;
    font-size: 40px;
}

.chat button {
    width: 8%;
    height: 100%;
    border: none;
    background: none;
    cursor: pointer;
}

.registro {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mensagens {
    height: 90%;
    width: 95%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.msgPergunta {
    max-width: 60%;
    background-color: #311C3D;
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 15px;
    padding: 1%;
    align-self: flex-end;
    font-size: 20px;
}

.msgResposta {
    max-width: 60%;
    background-color: #CC9CE7;
    color: #311C3D;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 15px;
    padding: 1%;
    align-self: flex-start;
    font-size: 20px;
}