@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
}



.corpo{
    display: flex;
    flex-direction: column;
    margin: none;
    background-color: #5A4168;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    color: #ffffff;
   
    
}
.corpo h1 {
    margin-left: 3%;

}


.cadastro {
    display: flex;
    margin-bottom: 5%;
    background-color: #CC9CE7;
    width: 90%;
    border-bottom-right-radius: 300px;
    border-top-right-radius: 300px;
    font-family: 'Roboto', sans-serif;
    padding-left: 3%;
}

.coluna {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.linha{
    width: 70%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.linha p {
    padding-left: 3%;
    color: #311C3D;
    margin-top: 0;
    margin-bottom: 2%;
}



.botaocadastrar{
    display: flex;
    align-items: center;
    width: 65%;
    height: 25%;
    margin-right: 20%;
    padding: 70px 50px;
    border: solid 1px #000000;
    border-radius: 80%;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.botaocadastrar a
{   
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 10%;
    margin-top: 10%;
    border-radius: 80px;
   

}



.iptCampo input{
    background-color: #ffffff;
    border: none;
    font-size: 100%;
    width: 75%;
    padding: 2%;
    border-bottom-right-radius: 190px;
    border-top-right-radius: 190px;
    border-bottom-left-radius: 190px;
    border-top-left-radius: 190px;
    box-shadow: #311c3d8e 1px 3px 5px;
    outline: none;
    
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  margin: 0;
  display: none;
}

button{
    display: flex;
    align-items: center;
    background-color: #311C3D ;
    cursor: pointer;
    border: none;
    border-bottom-right-radius: 190px;
    border-top-right-radius: 190px;
    border-bottom-left-radius: 190px;
    border-top-left-radius: 190px;
    padding: 10px 20px;
    color: #ffffff;



}
button:hover {
    background-color: #442855;
}

.botaocadastrar button {
    width: 100%;
    height: 35%;
    letter-spacing: 4px;
}

.pop {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    align-self: center;
    justify-self: center;
    width: 150%;
    height: 200%;
    background-color: rgb(0, 0, 0, 0.8);
    z-index: 1000;

}



.up {

    display: none;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 20%;
    background-color: #715E7D;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1000;
    top: 35%
}

.up button {
    border-radius: 300px;
    border: none;
    background-color: #311C3D;
    color: #B29FBD;
    padding: 10px;
    margin-bottom: 5%;

}
.inputs {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 60%;
}

.completo {
    display: flex;
    flex-direction: row;
}

.completo img{
    width: 40%;
}