    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    
    body{
        background-color: #5A4168;
        margin: 0;
        padding: 0;
        background-image: url("../Assets/mulher no telefone.png");
        background-repeat: no-repeat;
        background-position: right;
        background-size:contain;
        
    }
    h1 {
        margin: 0;
        padding: 25px;
        color: #FFFFFF;
    }
    .texto {
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin: 0;
        margin-top: 8%;
        margin-bottom: 8%;
    }
    p {
        color: #311C3D;
        margin-top: 0;
        margin-bottom: 2%;
    }

    .caixa {
        background-color: #FCF7EF;
        font-size: 100%;
        width: 100%;
        border-radius: 25px;
        box-shadow: 50% black;
        padding: 3%;

        outline: none;
        border: none;
        box-shadow: #311c3d8e 1px 3px 5px
    }
    .corSombra {
        display: flex;
        align-items: center;
        width:50%;
        background-color: #CC9CE7;
        border-radius: 0 320px 320px 0;
        margin-top: 0;
        margin-bottom: 100px;
        padding-left: 3%;
    }

    .botao{
        width: 85%;
        height: 20%;
        border-radius: 40px;

        font-size: 15px;
        letter-spacing: 4px;
        background-color: #311c3d;
        color: #DADADA;
        
        outline: none;
        border: none;
        cursor: pointer;
    }
    .botao:hover {
        background-color:#442855;
    }
    .botao2 {
        width: 150px;
        letter-spacing: 1px;
        background-color: transparent;
        color: #01123C;
        text-decoration: underline;
        border: 0;
        cursor: pointer;
    }
    .botao2:hover {
        font-weight: bold;
    }

    .circulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
        width: 200px;
        height: 200px;
        margin-left: 20%;
        padding: 3%;
        border: 1px solid;
        border-radius: 100%;
    }
    .divmsg {
        display: flex;
        justify-content: center;
        margin: 0;
        color: red;
        padding: 5px;
        font-weight: bold;
    }