    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

    body {
        background-color: #5A4168;
        margin: 0;
        padding: 0;
    }

    h1 {
        margin: 0;
        padding: 25px;
        color: #FFFFFF;
    }

    .texto {
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin: 0;
        margin-top: 8%;
        margin-bottom: 8%;
    }

    p {
        color: #311C3D;
        margin-top: 0;
        margin-bottom: 2%;
    }

    .caixa {
        background-color: #FCF7EF;
        font-size: 100%;
        width: 100%;
        border-radius: 25px;
        box-shadow: 50% black;
        padding: 3%;

        outline: none;
        border: none;
        box-shadow: #311c3d8e 1px 3px 5px
    }

    .corSombra {
        display: flex;
        align-items: center;
        width: 70%;
        background-color: #CC9CE7;
        border-radius: 0 320px 320px 0;
        margin-top: 0;
        margin-bottom: 10%;
        padding-left: 3%;
    }

    .botao {
        width: 85%;
        height: 20%;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        background-color: #311c3d;
        color: #DADADA;

        outline: none;
        border: none;
        cursor: pointer;
    }

    .botao:hover {
        background-color: #442855;
    }

    .botao2 {
        width: 150px;
        letter-spacing: 1px;
        background-color: transparent;
        color: #01123C;
        text-decoration: underline;
        border: 0;
        cursor: pointer;
    }

    .botao2:hover {
        font-weight: bold;
    }

    .circulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
        width: 200px;
        height: 200px;
        margin-left: 20%;
        padding: 3%;
        border: 1px solid;
        border-radius: 100%;
    }

    .divmsg {
        display: flex;
        justify-content: center;
        margin: 0;
        color: red;
        padding: 5px;
        font-weight: bold;
    }

    .pop {
        display: none;
        align-items: center;
        justify-content: center;
        position: fixed;
        align-self: center;
        justify-self: center;
        width: 150%;
        height: 200%;
        background-color: rgb(0, 0, 0, 0.8);
        z-index: 1000;
    }

    .up {
        display: none;
        flex-direction: column;
        position: fixed;
        align-items: center;
        justify-content: center;
        width: 20%;
        background-color: #715E7D;
        border-radius: 30px;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 2%;
        z-index: 1000;
        top: 35%;
    }

    .up button {
        border-radius: 300px;
        border: none;
        background-color: #311C3D;
        color: #B29FBD;
        padding: 10px;
        margin-bottom: 5%;
    }

    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        display: none;
    }

    input::placeholder {
        color: #311c3d85;
    }

    .completo {
        display: flex;
    }

    .info {
        width: 65%;
    }

    .completo img {
        width: 35%;
    }