@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: #867391;
}



.cadastro {
    background-color: #311C3D;
    border: none;
    width: 75%;
    border-bottom-right-radius: 190px;
    border-top-right-radius: 190px;
}
    
    





input {
    background-color: #CC9CE7;
    border: none;
    width: 75%;
    height: 30px;
    border-bottom-right-radius: 190px;
    border-top-right-radius: 190px;
    box-shadow: #311c3d8e 1px 3px 5px;
    

}
