@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
}



.corpo{
    margin: none;
    background-color: #B29FBD;
    background-image: url(../Assets/mulher\ no\ telefone.png);
    background-repeat: no-repeat;
    background-position: right;
}



.cadastro {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #867391;
    width: 60%;
    border-bottom-right-radius: 250px;
    border-top-right-radius: 250px;
    font-family: 'Roboto', sans-serif;
    padding-left: 3%;
}

.coluna {
    display: flex;
    align-items: center;
    flex-direction: column;
  
    justify-content: center;



}

.linha{
    width: 70%;
}

.linha p {
    padding-left: 3%;
    color: #311C3D;
}



.botaocadastrar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: 70px 50px;
    border: solid 1px #000000;
    border-radius: 60%;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.botaocadastrar a
{   
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 10%;
    margin-top: 10%;
    border-radius: 80px;
   

}



input {
    background-color: #B29FBD;
    border: none;
    width: 75%;
    height: 30px;
    border-bottom-right-radius: 190px;
    border-top-right-radius: 190px;
    border-bottom-left-radius: 190px;
    border-top-left-radius: 190px;
    box-shadow: #311c3d8e 1px 3px 5px;
    
}

button{
    display: flex;
    align-items: center;
    background-color: #311C3D ;
    cursor: pointer;
    border: none;
    border-bottom-right-radius: 190px;
    border-top-right-radius: 190px;
    border-bottom-left-radius: 190px;
    border-top-left-radius: 190px;
    padding: 10px 20px;
    color: #ffffff;



}

.pop {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
}

.up {
    display: none;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 20%;
    background-color: #715E7D;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
}
.up button {
    border-radius: 300px;
    border: none;
    background-color: #311C3D;
    color: #B29FBD;
    padding: 10px;
    margin-bottom: 5%;
}
