body{
    margin:0;
    background-color: #5A4168;
}

.pagina {
    display: flex;
    margin: 0;
    width: 100%;
    flex-direction: column;
    aspect-ratio: 3 / 2;

    h1 {

    }
}
.topoPagina{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1%;
    padding: 1%;
}
.kpiTopo{
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    flex-direction: row;
    width: 40%;

        h1{
            margin:0%;
        }
        h2{
            margin:0%;
            padding: 0% 2%;
        }
}
.totalKpi{
    display: flex;
    flex-direction: column;
    margin: 1%;
    margin-right: 10%;
    padding: 1%;
    justify-content: center;
    align-items: center;

        h1{
        font-family: 'Roboto', sans-serif;    
        font-size:2rem;
        }
        h2{
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        font-weight: bold;
        color: #311C3D;
        }
}
.qtdKpi{
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin: 1%;

      h1{
            margin:0;
        }
    h3{
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        font-weight: bold;
        color: #311C3D;
    }
}
.output{

    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0%;

            h1{
                margin: 0%
            }
             h3{
            margin: 0%;

        }
}
.mediaDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-color: #CC9CE7;
    border-radius: 50px 20px;
  
    height: 60%;

    margin-left: 5%;

    aspect-ratio: 1.2/1;
    background-color: #CC9CE7;
    border-radius: 45px 15px 45px 15px;
    box-shadow: #311C3D 5px 5px 10px;  
          h1{
            font-size: 3rem;
            font-weight: bold;
            margin: 0%;
        }
        h2{
        font-family: 'Roboto', sans-serif;
        font-size: 2rem;
        font-weight: bold;
        color: #311C3D;
        padding: 5%;
        margin: 0%;        
        }        
}

.ind_visuais{
    display: flex;
    margin: 0;
    justify-content: space-evenly;
}

.tabela{
    background-color: #715E7D;
    width: 30%;
    border-radius: 15px;
    margin-top: 0%;
    margin-left: 5%;
}
.tituloTabela{
    display: flex;
    background-color: #CC9CE7;
    justify-content: space-around;
    padding: 2%;
    border-radius: 15px;
    p{
    font-size: 1rem;
    margin: 0;
    }
}
.corpoTabela{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.linhaA{
    display: flex;
    justify-content: space-around;
    background-color: #715E7D;
}
.linhaB{
    display: flex;
    align-content: center;
    justify-content: space-around;
    background-color: #7F5C92;
}
.Final{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.banheiro{
    display: flex;
    padding-right: 10%;
}
.porcentagem{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10%;
}
.situacao{
  height: 25%;
  margin-left: 25%;
}

.grafico{
    width: 60%;
    margin-right: 5%;
    margin-left: 5%;
    background-color: #867391;
    border-radius: 25px 55px 25px 55px;
    display: flex;
    flex-direction: row;
}

.kpibox {
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    
    aspect-ratio: 1.2/1;
    background-color: #CC9CE7;
    border-radius: 45px 15px 45px 15px;
    box-shadow: #311C3D 5px 5px 10px;

           h1{
        font-family: 'Roboto', sans-serif;    
        font-size:3rem;
        }
                h2{
        font-family: 'Roboto', sans-serif;
        font-size: 2rem;
        font-weight: bold;
        color: #311C3D;
        }   
}

.kpibottom {
    width: 87%;
    aspect-ratio: 0.5/ 0.4;
    margin-left: 3%;
    padding-bottom: 8%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    background-color: #5A4168;
    border-radius: 0 0 15px 45px;
    transform: translateY(-30%);
    box-shadow: #311C3D 5px 5px 10px;
}

.kpibottom input {
    width: 70%;
    background-color: #7F5C92;
    margin: 0;
    border-radius: 50px;
    border: none;
}

.kpibottom input::placeholder {
    color: #311C3D;
}

.data{
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 8%;
    margin-left: 10%;
    background-color: #7F5C92;
    border-radius: 50px;
}

.kpibottom p {
    margin: 0;
    margin-left: 10%;
}

#geralGrafico{
    width: 90%;
}

.kpidecoration {
    width: 30%;
}

.grafico .kpibox{
    border-radius: 15px 45px 15px 45px;
    width: 90%;
    z-index: 2;
    position: relative;

    h4{
        margin: 0%;
    }
}

input{
    display: flex;
    justify-content: center;
    width: 90%;
    background-color: #715E7D;
    border: none;
    
}
.sensor {
    width: 70%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a{
    width: 90%;
    height: 50%;
    background-color: #867391;
    padding: 2%;
    margin: 5%;
    border-radius: 10px;
}