body{
    margin:0;
    background-color: #B29FBD;
}

.pagina {
    display: flex;
    margin: 0;
    width: 100%;
    flex-direction: column;
    aspect-ratio: 3 / 2;

    h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 2.5rem;
        font-weight: 400;
        color: #311C3D;
    }
}
.topoPagina{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1%;
    padding: 1%;
}
.kpiTopo{
    display: flex;
    flex-direction: row;
    width: 35%;
}
.totalKpi{
    display: flex;
    flex-direction: column;
    margin: 1%;
    margin-right: 10%;
    padding: 1%;
    justify-content: center;
    align-items: center;

        h1{
            font-size: 3rem;
            font-weight: bold;
            margin:0;
        }
        h2{
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        font-weight: bold;
        color: #311C3D;
        }
}
.qtdKpi{
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin: 1%;

      h1{
            font-size: 3rem;
            font-weight: bold;
            margin:0;
        }
    h3{
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        font-weight: bold;
        color: #311C3D;
    }
}
.output{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5%;
             h3{
            margin: 5%;

        }
}
.mediaDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-color: #CC9CE7;
    border-radius: 50px 20px;
    width: 25%;
    height: 90%;
    margin: 2%;
    margin-left: 5%;

          h1{
            font-size: 3rem;
            font-weight: bold;
            margin:0;
        }
        h2{
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        font-weight: bold;
        color: #311C3D;
        }        
}

.ind_visuais{
    display: flex;
    margin: 0;
    justify-content: space-evenly;
}

.tabela{
    background-color: #715E7D;
    width: 30%;
    border-radius: 5px;
}
.tituloTabela{
    display: flex;
    background-color: #CC9CE7;
    justify-content: space-around;
    padding: 2%;
    border-radius: 5px;
    p{
    font-size: 1rem;
    margin: 0;
    }
}
.corpoTabela{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.linhaA{
    display: flex;
    justify-content: space-around;
    background-color: #715E7D;
}
.linhaB{
    display: flex;
    align-content: center;
    justify-content: space-around;
    background-color: #7F5C92;
}
.banheiro{
    display: flex;
    padding-right: 10%;
}
.porcentagem{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10%;
}
.situacao{
  height: 25%;
  margin-left: 25%;
}

.areaGrafico{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.areaFiltro{
    display: flex;
    justify-content: space-between;
}
.filtro{
    display: flex;
    justify-content: center;
    background-color: #715E7D;
    margin: 0px 3%;
    border-radius: 25px;
    padding: 2%;
}
input{
    display: flex;
    justify-content: center;
    width: 90%;
    background-color: #715E7D;
    border: none;
    
}

.grafico{
    width: 60%;
    background-color: #715E7D;
    margin: 5%;
}