@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar {
  display: none;
}

header {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #311C3D;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 1%;

  & .botoesGuia {
    display: flex;
    flex-direction: row-reverse;
    gap: 10%;
    align-items: center;
    width: 30%;
  }

  & .selecionado {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
  }

  & a {
    text-decoration: none;
    color: white;
  }

  & .destaque {
    padding: 2% 8% 2% 5%;
    border-top-left-radius: 25% 50%;
    border-bottom-left-radius: 25% 50%;
    background-color: #cb9ce77f;
    box-shadow: 0 3px 5px black;
  }
}

footer {
  background-color: #311C3D;
  padding: 1.5%;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: row;
  gap: 10%;
  align-items: center;
}

footer p {
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
  margin-bottom: 1em;
}

.informacoes {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40%;
}

.autoria {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0.3px solid #c8c8c88c;
  margin-top: 2%;
}

.autoria p {
  color: #c8c8c88c;
}

/* Aqui para baixo começa o css do menu lateral da pagina */

.corpo {
  display: flex;
}

.menuLateral {
  background-color: #5A4168;
  width: 15%;
  color: #CC9CE7;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding: 3% 0;

  & h2 {
    margin: 0;
  }

  & .kpiMenu {
    font-size: 3em;
    text-shadow: 0px .1em 10px #d181ff5f;
    font-weight: bold;
  }
}

.headerLateral {
  text-align: center;
}

.selecao {
  width: 80%;
  aspect-ratio: 4 / 1;
  background-color: #715E7D;
  border-radius: 0 30% 30% 0 / 0 100% 100% 0;
  box-shadow: .1em .1em rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 5%;
  padding: 0 7% 0 0;
  gap: 5%;
  text-decoration: none;

  & a {
    text-decoration: none;
    padding-left: 10%;
    color: #CC9CE7;
  }

  & span {
    text-decoration: none;
    color: #CC9CE7;
    margin: 0 0 0 20%;
  }
}

.especial {
  background-color: #CC9CE7;

  & button {
    background: none;
    border: none;
    background-image: url('../Assets/seta-seletor.svg');
    background-size: cover;
    background-repeat: none;
    width: 10%;
    aspect-ratio: 1/1;
    margin-left: 5%;
  }

  & a {
    text-decoration: none;
    color: #311C3D;
  }

  & span {
    color: #311C3D;
    padding-left: 10%;
    margin: 0;
  }
}

.situacao {
  height: 50%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.estavel {
  background-color: limegreen;
}

.atencao {
  background-color: yellow;
}

.critico {
  background-color: red;
}

.opcao {
  width: 80%;
  aspect-ratio: 5/1;
  display: flex;
  align-items: center;
  margin-top: 2%;
  gap: 5%;

  text-decoration: none;
  color: #CC9CE7;
  margin: 0 5%;
}

/*  
  Ana Jardim
  Tela Login:
  .login - font-family: 'Roboto', sans-serif;
  entra. - font-size: 12px;
  .entrar button - font-size: 100%; / font-family: 'Roboto', sans-serif;
  .email /.senha p - font-size: 16px;
  up font-size: 25px;

  Tela Cadastro Usuário:
  .botaocadastrar - font-size: 100%; / font-family: 'Roboto', sans-serif;
  up font-size: 25px;

*/