@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Serif", serif;
  margin: 0;
  padding: 0;
}


.corpo {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: url(../Assets/dispenser.png);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 8/5;

}

.titulo {
  margin-left: 50px;
  top: 120px;
  left: 80px;
}

.titulo h1 {
  font-size: 50px;
  font-weight: 400;
  color: #000000;
  text-shadow: 1px 1px 10px black solid;
}

.titulo span {
  font-size: 29px;
  font-weight: 300;
  color: #000000;
}

.texto1 {
  margin-top: 170px;
  background-color: #eeeeee84;
  padding: 15px 20px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  max-width: 450px;
  font-family: 'poppins';
  font-size: 20px;
  font-weight: 300;
  margin-left: 0px;
}

.texto2 {
  align-self: flex-end;
  background-color: #eeeeee84;
  padding: 15px 20px;
  border-bottom-left-radius: 300px;
  border-top-left-radius: 300px;
  max-width: 330px;
  font-family: 'poppins';
  font-size: 17px;
  font-weight: 300;
  margin-left: 0px;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #311C3D;
  color: white;
  padding: 15px;
  width: 320px;
  align-self: flex-end;
  margin-top: 50px;
  font-size: 15px;
}

.btn:hover {
  background-color: #4a2c5f;
}

.selecionado {
  border-bottom: 2px solid white;
}

body a .btn img {
  height: 50px;
  width: 50px;
}

.corpo2 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #B09DBA;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
}

.sobreNos {
  display: flex;
  background-color: #ffffff;
  padding: 15px 20px 15px 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  max-width: 650px;
  width: 100%;
  height: 80px;
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 300;
  align-items: center;
  color: #311C3D;

}

.cards {

  display: flex;
  flex-direction: column;
  height: 510px;
  width: 400px;
  border-radius: 10px;
  background-color: #FCF7F0;
  align-items: center;
  width: 100%;
}



.container3 {
  display: flex;
  padding-bottom: 200px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #B09DBA;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  gap: 20px;
}

.titulosCards {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Roboto";

  & span {
    padding-top: 15%;
  }

  & h1 {
    font-size: 50px;
    color: #311C3D;
  }
}