@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #B29FBD;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    color: #311C3D;
}

.container {
    display: flex;
    flex-direction: row;
}

.bgimg {
    background-image: url(../Assets/meuperfil.png);
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 3/ 4;
    width: 30%;
    align-self: flex-end;
}

.dados {
    width: 60%;
}