@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.corpo {
    display: flex;
    padding: 0;
    padding-top: 8%;
    padding-bottom: 8%;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-image: url(../Assets/computador.png);
    background-repeat: no-repeat;
    background-color: #B29FBD;
    background-position: bottom-center;
}

.container {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 80%;
    border: none;
    margin: 0;
    padding: 0;



}


.login {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 60%;
    border-bottom-left-radius: 190px;
    border-top-left-radius: 190px;
    text-align: right;
    background-color: #867391;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #311C3D;


}


input {
    background-color: #CC9CE7;
    border: none;
    width: 75%;
    height: 30px;
    border-bottom-left-radius: 190px;
    border-top-left-radius: 190px;
    box-shadow: #311c3d8e 1px 3px 5px;
    margin: 0;




}


.entrar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid #311C3D;
    border-radius: 50%;
    padding: 30px 30px;
    color: #01123C;
    font-family: 'Roboto', sans-serif;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 20;
    position: relative;
    margin-left: 5%;

}

.entrar p {
    font-size: 12px;
    margin: 0;
    text-align: center;
    width: 100%;

}

.entrar button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50px;
    background-color: #311C3D;
    width: 130px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.entrar button:hover {
    background-color: #311C3D;
    color: #fff;

}

.email p,
.senha p {
    font-size: 16px;
    color: #311C3D;
    margin: 5px;
    margin-left: 70px;
    width: 220px;
}

.footer {
    height: 100px;
    background-color: #311C3D;
}